<a href="https://colab.research.google.com/github/ChaeHyunIM/Helloworld/blob/main/day12_%EC%98%A4%ED%9B%84%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

공공데이터 csv파일은 인코딩방식이 대부분 cp949나 euc-kr 방식
   https://teddylee777.github.io/pandas/%EA%B3%B5%EA%B3%B5%EB%8D%B0%EC%9D%B4%ED%84%B0-%ED%95%9C%EA%B8%80%EA%B9%A8%EC%A7%90%ED%98%84%EC%83%81-%ED%95%B4%EA%B2%B0%EB%B0%A9%EB%B2%95
   
   위 링크의 해결책 (4)를 이용하여 csv파일을 다시만듬

In [ ]:
p=pd.read_csv('/content/drive/MyDrive/pop5.csv')

In [ ]:
p

    Column1  Column2  Column3  Column4
0     73389    78228    77842    79991
1      1266     1378     1353     1344
2       949     1017     1075     1069
3      2111     2351     1942     1940
4      2282     2374     2575     2466
5      2551     2881     2775     3052
6      2802     2838     2766     2778
7      2534     2595     2860     2792
8      3180     3581     3386     3563
9      1865     1937     2121     2165
10     1831     1923     2122     2197
11     3075     3297     3479     3570
12     2859     3162     3231     3420
13     2252     2678     2455     2635
14     3104     3495     3162     3624
15     3048     3114     3256     3146
16     4708     5029     4733     4758
17     2591     2584     2685     2736
18     1732     1656     1766     1674
19     3027     3179     3129     3091
20     3504     3741     3326     3530
21     5001     4970     5193     5055
22     2914     3188     3392     3735
23     4298     4570     4954     5191
24     5079     5574     6230     6513
25     4826     5116     3876     3947

In [ ]:
p.iloc[3,3]

1940

In [ ]:
type(p.iloc[3,3])

numpy.int64

In [ ]:
p.columns=['남자이동1', '여자이동1', '남자이동2', '여자이동2']

In [ ]:
p.index=['서울특별시','종로구','중구','용산구','성동구','광진구','동대문구','중랑구','성북구','강북구','도봉구','노원구','은평구','서대문구','마포구','양천구','강서구','구로구','금천구','영등포구','동작구','관악구','서초구','강남구','송파구','강동구']

In [ ]:
p['소계1']=p['남자이동1']+p['여자이동1']
p['소계2']=p['남자이동2']+p['여자이동2']

In [ ]:
p

       남자이동1  여자이동1  남자이동2  여자이동2     소계1     소계2
서울특별시  73389  78228  77842  79991  151617  157833
종로구     1266   1378   1353   1344    2644    2697
중구       949   1017   1075   1069    1966    2144
용산구     2111   2351   1942   1940    4462    3882
성동구     2282   2374   2575   2466    4656    5041
광진구     2551   2881   2775   3052    5432    5827
동대문구    2802   2838   2766   2778    5640    5544
중랑구     2534   2595   2860   2792    5129    5652
성북구     3180   3581   3386   3563    6761    6949
강북구     1865   1937   2121   2165    3802    4286
도봉구     1831   1923   2122   2197    3754    4319
노원구     3075   3297   3479   3570    6372    7049
은평구     2859   3162   3231   3420    6021    6651
서대문구    2252   2678   2455   2635    4930    5090
마포구     3104   3495   3162   3624    6599    6786
양천구     3048   3114   3256   3146    6162    6402
강서구     4708   5029   4733   4758    9737    9491
구로구     2591   2584   2685   2736    5175    5421
금천구     1732   1656   1766   1674    3388    3440
영등포구    3027   3179   3129   3091    6206    6220
동작구     3504   3741   3326   3530    7245    6856
관악구     5001   4970   5193   5055    9971   10248
서초구     2914   3188   3392   3735    6102    7127
강남구     4298   4570   4954   5191    8868   10145
송파구     5079   5574   6230   6513   10653   12743
강동구     4826   5116   3876   3947    9942    7823