<a href="https://colab.research.google.com/github/ChaeHyunIM/Helloworld/blob/main/day12_%EC%98%A4%ED%9B%84%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [35]:
from google.colab import drive

In [36]:
drive.mount('/content/drive')

Mounted at /content/drive

In [32]:
p=pd.read_csv('/content/sample_data/pop3.csv')

In [26]:
p

   73,389 78,228 77,842 79,991
0   1,266  1,378  1,353  1,344
1     949  1,017  1,075  1,069
2   2,111  2,351  1,942  1,940
3   2,282  2,374  2,575  2,466
4   2,551  2,881  2,775  3,052
5   2,802  2,838  2,766  2,778
6   2,534  2,595  2,860  2,792
7   3,180  3,581  3,386  3,563
8   1,865  1,937  2,121  2,165
9   1,831  1,923  2,122  2,197
10  3,075  3,297  3,479  3,570
11  2,859  3,162  3,231  3,420
12  2,252  2,678  2,455  2,635
13  3,104  3,495  3,162  3,624
14  3,048  3,114  3,256  3,146
15  4,708  5,029  4,733  4,758
16  2,591  2,584  2,685  2,736
17  1,732  1,656  1,766  1,674
18  3,027  3,179  3,129  3,091
19  3,504  3,741  3,326  3,530
20  5,001  4,970  5,193  5,055
21  2,914  3,188  3,392  3,735
22  4,298  4,570  4,954  5,191
23  5,079  5,574  6,230  6,513
24  4,826  5,116  3,876  3,947

In [27]:
p.iloc[3,3]

'2,466'

In [28]:
type(p.iloc[3,3])

str

In [34]:
pd.to_numeric(p)

TypeError: ignored