<a href="https://colab.research.google.com/github/ChaeHyunIM/Helloworld/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as mp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
d1=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Source/공공자전거 이용정보(총 이용건수) 2019_2020/공공자전거 대여소별 이용정보_201812_201905.xlsx')

In [4]:
d1

       구분                            대여소명      대여일자    대여건수
0     강남구                2301. 현대고등학교 건너편  201812.0   364.0
1     강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  201812.0   500.0
2     강남구                  2303. 논현역 7번출구  201812.0   286.0
3     강남구         2304. 신영 ROYAL PALACE 앞  201812.0   149.0
4     강남구              2305. MCM 본사 직영점 앞  201812.0   145.0
...   ...                             ...       ...     ...
9184  중랑구                 1455. 상봉역 2번 출구  201905.0  1362.0
9185  중랑구            1456. 상아빌딩(우림시장 교차로)  201905.0   826.0
9186  중랑구                     1457. 동원사거리  201905.0   827.0
9187  중랑구                    1458. 상봉터미널2  201905.0  1421.0
9188  중랑구                1459. 용마한신아파트사거리  201905.0   447.0

[9189 rows x 4 columns]

In [5]:
total_d1=sum(d1[d1['구분']=='강남구'][d1['대여일자']==201905]['대여건수'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [6]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9189 entries, 0 to 9188
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      9184 non-null   object
 1   대여소명    9184 non-null   object
 2   대여일자    9184 non-null   float64
 3   대여건수    9184 non-null   float64
dtypes: float64(2), object(2)
memory usage: 287.3+ KB

In [7]:
d1[d1['구분']=='강남구'][d1['대여일자']==201905]['대여건수']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

7653    4264.0
7654    2375.0
7655    1541.0
7656     630.0
7657     529.0
         ...
7746     640.0
7747    1114.0
7748    1106.0
7749     630.0
7750    1288.0
Name: 대여건수, Length: 98, dtype: float64

In [8]:
total_use = []
for i in range(1, 5 + 1):
  ym = '20190' + str(i)+'.0'
  total_use.append(d1[d1['구분'] == '강남구'][d1['대여일자'] == float(ym)]['대여건수'].sum())
total_use

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

[19773.0, 18740.0, 39697.0, 67015.0, 97410.0]

In [9]:
d1.iloc[1:6,:]

    구분                            대여소명      대여일자   대여건수
1  강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  201812.0  500.0
2  강남구                  2303. 논현역 7번출구  201812.0  286.0
3  강남구         2304. 신영 ROYAL PALACE 앞  201812.0  149.0
4  강남구              2305. MCM 본사 직영점 앞  201812.0  145.0
5  강남구              2306. 압구정역 2번 출구 옆  201812.0  457.0

In [10]:
d2=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Source/공공자전거 이용정보(총 이용건수) 2019_2020/공공자전거 대여소별 이용정보_201906_201911.xlsx')

In [11]:
d2

     대여소 그룹                           대여소 명  대여 일자 / 월  대여 건수
0       강남구                2301. 현대고등학교 건너편     201906   3909
1       강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)     201906   2432
2       강남구                  2303. 논현역 7번출구     201906   1567
3       강남구         2304. 신영 ROYAL PALACE 앞     201906    559
4       강남구              2305. MCM 본사 직영점 앞     201906    730
...     ...                             ...        ...    ...
9267    중랑구                 1455. 상봉역 2번 출구     201911   1205
9268    중랑구            1456. 상아빌딩(우림시장 교차로)     201911    764
9269    중랑구                     1457. 동원사거리     201911    577
9270    중랑구                    1458. 상봉터미널2     201911   1243
9271    중랑구                1459. 용마한신아파트사거리     201911    339

[9272 rows x 4 columns]

In [12]:
total_use = []
for i in range(6, 9 + 1):
  ym = '20190' + str(i)
  total_use.append(d2[d2['대여소 그룹'] == '강남구'][d2['대여 일자 / 월'] == float(ym)]['대여 건수'].sum())
total_use

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

[100524, 91847, 86363, 86234]

In [13]:
total_use = []
for i in range(10, 11 + 1):
  ym = '2019' + str(i)
  total_use.append(d2[d2['대여소 그룹'] == '강남구'][d2['대여 일자 / 월'] == float(ym)]['대여 건수'].sum())
total_use

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

[99586, 63257]

In [18]:
pd.DataFrame(d1.groupby('구분').sum()['대여건수']['대여일자=='])

          대여건수
구분
강남구   262926.0
강동구   189744.0
강북구   100717.0
강서구   301710.0
관악구   219669.0
광진구   380451.0
구로구   198094.0
금천구    91736.0
노원구   284358.0
도봉구    90915.0
동대문구  204159.0
동작구   147005.0
마포구   438010.0
서대문구  193442.0
서초구   261202.0
성동구   292787.0
성북구   192398.0
송파구   472000.0
양천구   157971.0
영등포구  491894.0
용산구   120681.0
은평구   171528.0
종로구   280894.0
중구    156061.0
중랑구   142214.0

In [38]:
d4=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Source/rent_total_2019.csv', header=0, encoding='cp949', thousands=',')

In [102]:
d4

     자치구  201901  201902  201903  ...  201910  201911  201912      총합계
0    강남구   19773   18740   39697  ...   99586   63257   33083   803529
1    강동구   15268   14394   27385  ...   90625   56429   31262   667738
2    강북구    8030    7583   15217  ...   42329   27120   16050   335262
3    강서구   23154   21856   43734  ...  162574  103627   60615  1168633
4    관악구   18592   16387   32914  ...   80316   50730   29547   678042
5    광진구   29205   27194   57886  ...  149523   94554   54581  1193807
6    구로구   16888   15668   29303  ...   90733   58204   33135   680547
7    금천구    8206    7197   13739  ...   37360   25142   15082   292707
8    노원구   21789   21286   42348  ...  120477   77245   44917   937319
9    도봉구    6497    6808   14006  ...   41170   26149   14484   314399
10  동대문구   16978   15553   31944  ...   84796   56442   33709   663319
11   동작구   11244   11057   21942  ...   63418   38062   20174   474601
12   마포구   35855   33074   69076  ...  173026  103849   57480  1343227
13  서대문구   17262   15625   30535  ...   66492   45369   27184   569331
14   서초구   19697   18848   37557  ...  109190   64720   35839   851982
15   성동구   24179   22545   44587  ...  114108   72653   42511   899601
16   성북구   15571   14354   30695  ...   81058   50617   30876   617879
17   송파구   33525   33654   67783  ...  214936  125392   66548  1583941
18   양천구   13775   12381   22879  ...   74365   47331   27640   550571
19  영등포구   40713   35637   71973  ...  198176  122764   69054  1550507
20   용산구    9215    9222   17788  ...   52034   28876   16532   388689
21   은평구   14984   14384   27277  ...   72217   46366   28767   557410
22   종로구   29691   25754   45514  ...   96101   71830   45033   791571
23    중구   15878   13840   25146  ...   56604   39782   24806   453299
24   중랑구   11875   11022   21458  ...   64996   40602   23057   483630

[25 rows x 14 columns]

In [104]:
d5=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Source/dep_total_2019.csv', header=0, encoding='cp949', thousands=',')

In [105]:
d5

     자치구  201901  201902  201903  ...  201909  201910  201911  201912
0    강남구    1210    1210    1210  ...    1210    1210    1218    1218
1    강동구     773     773     773  ...     773     773     763     763
2    강북구     451     451     451  ...     451     451     451     451
3    강서구    1014    1014    1014  ...    1014    1014    1002    1002
4    관악구     652     652     652  ...     652     652     640     640
5    광진구     793     793     793  ...     793     793     841     841
6    구로구     728     728     728  ...     728     728     788     788
7    금천구     540     540     540  ...     540     540     560     560
8    노원구     850     850     850  ...     850     850     879     879
9    도봉구     423     423     423  ...     423     423     396     396
10  동대문구     653     653     653  ...     653     653     659     659
11   동작구     501     501     501  ...     501     501     501     501
12   마포구    1062    1062    1062  ...    1062    1062    1075    1075
13  서대문구     695     695     695  ...     695     695     667     667
14   서초구    1214    1214    1214  ...    1214    1214    1227    1227
15   성동구     780     780     780  ...     780     780     780     780
16   성북구     712     712     712  ...     712     712     726     726
17   송파구    1279    1279    1279  ...    1279    1279    1298    1298
18   양천구     663     663     663  ...     663     663     677     677
19  영등포구    1258    1258    1258  ...    1258    1258    1258    1258
20   용산구     558     558     558  ...     558     558     538     538
21   은평구     688     688     688  ...     688     688     716     716
22   종로구     715     715     715  ...     715     715     784     784
23    중구     465     465     465  ...     465     465     493     493
24   중랑구     616     616     616  ...     616     616     616     616

[25 rows x 13 columns]

In [125]:
d6=pd.merge(d4,d5, on='자치구')

In [107]:
d6

     자치구  201901_x  201902_x  201903_x  ...  201909_y  201910_y  201911_y  201912_y
0    강남구     19773     18740     39697  ...      1210      1210      1218      1218
1    강동구     15268     14394     27385  ...       773       773       763       763
2    강북구      8030      7583     15217  ...       451       451       451       451
3    강서구     23154     21856     43734  ...      1014      1014      1002      1002
4    관악구     18592     16387     32914  ...       652       652       640       640
5    광진구     29205     27194     57886  ...       793       793       841       841
6    구로구     16888     15668     29303  ...       728       728       788       788
7    금천구      8206      7197     13739  ...       540       540       560       560
8    노원구     21789     21286     42348  ...       850       850       879       879
9    도봉구      6497      6808     14006  ...       423       423       396       396
10  동대문구     16978     15553     31944  ...       653       653       659       659
11   동작구     11244     11057     21942  ...       501       501       501       501
12   마포구     35855     33074     69076  ...      1062      1062      1075      1075
13  서대문구     17262     15625     30535  ...       695       695       667       667
14   서초구     19697     18848     37557  ...      1214      1214      1227      1227
15   성동구     24179     22545     44587  ...       780       780       780       780
16   성북구     15571     14354     30695  ...       712       712       726       726
17   송파구     33525     33654     67783  ...      1279      1279      1298      1298
18   양천구     13775     12381     22879  ...       663       663       677       677
19  영등포구     40713     35637     71973  ...      1258      1258      1258      1258
20   용산구      9215      9222     17788  ...       558       558       538       538
21   은평구     14984     14384     27277  ...       688       688       716       716
22   종로구     29691     25754     45514  ...       715       715       784       784
23    중구     15878     13840     25146  ...       465       465       493       493
24   중랑구     11875     11022     21458  ...       616       616       616       616

[25 rows x 26 columns]

In [108]:
강남구_1월=d6['201901_x']/d6['201901_y']

In [109]:
강남구_1월

0     16.341322
1     19.751617
2     17.804878
3     22.834320
4     28.515337
5     36.828499
6     23.197802
7     15.196296
8     25.634118
9     15.359338
10    26.000000
11    22.443114
12    33.761770
13    24.837410
14    16.224876
15    30.998718
16    21.869382
17    26.211884
18    20.776772
19    32.363275
20    16.514337
21    21.779070
22    41.525874
23    34.146237
24    19.277597
dtype: float64

In [110]:
구_월=[]
for i in range(1,9+1):
  ym1 = '20190' + str(i) + '_x'
  ym2 = '20190' + str(i) + '_y'
  구_월.append(d6[ym1]/d6[ym2])
구_월

[0     16.341322
 1     19.751617
 2     17.804878
 3     22.834320
 4     28.515337
 5     36.828499
 6     23.197802
 7     15.196296
 8     25.634118
 9     15.359338
 10    26.000000
 11    22.443114
 12    33.761770
 13    24.837410
 14    16.224876
 15    30.998718
 16    21.869382
 17    26.211884
 18    20.776772
 19    32.363275
 20    16.514337
 21    21.779070
 22    41.525874
 23    34.146237
 24    19.277597
 dtype: float64, 0     15.487603
 1     18.620957
 2     16.813747
 3     21.554241
 4     25.133436
 5     34.292560
 6     21.521978
 7     13.327778
 8     25.042353
 9     16.094563
 10    23.817764
 11    22.069860
 12    31.143126
 13    22.482014
 14    15.525535
 15    28.903846
 16    20.160112
 17    26.312744
 18    18.674208
 19    28.328299
 20    16.526882
 21    20.906977
 22    36.019580
 23    29.763441
 24    17.892857
 dtype: float64, 0     32.807438
 1     35.426908
 2     33.740576
 3     43.130178
 4     50.481595
 5     72.996217
 6     40.251374
 7     25.442593
 8     49.821176
 9     33.111111
 10    48.918836
 11    43.796407
 12    65.043315
 13    43.935252
 14    30.936573
 15    57.162821
 16    43.110955
 17    52.996873
 18    34.508296
 19    57.212242
 20    31.878136
 21    39.646802
 22    63.655944
 23    54.077419
 24    34.834416
 dtype: float64, 0      55.384298
 1      55.622251
 2      52.645233
 3      69.568047
 4      79.332822
 5     117.238335
 6      64.876374
 7      41.190741
 8      77.920000
 9      51.316785
 10     72.260337
 11     70.584830
 12     98.233522
 13     64.871942
 14     53.042010
 15     89.597436
 16     63.667135
 17     91.667709
 18     55.167421
 19     97.709857
 20     52.637993
 21     58.265988
 22     91.958042
 23     78.393548
 24     52.155844
 dtype: float64, 0      80.504132
 1      94.800776
 2      84.623060
 3     119.977318
 4     124.630368
 5     180.554855
 6      98.925824
 7      60.381481
 8     128.820000
 9      83.576832
 10    113.457887
 11    110.618762
 12    148.528249
 13     95.179856
 14     82.871499
 15    137.035897
 16     97.015449
 17    145.697420
 18     87.737557
 19    143.245628
 20     82.365591
 21     85.893895
 22    118.446154
 23    105.073118
 24     86.452922
 dtype: float64, 0      83.077686
 1     104.664942
 2      92.605322
 3     144.411243
 4     132.894172
 5     184.696091
 6     114.170330
 7      64.868519
 8     139.121176
 9      94.546099
 10    122.332312
 11    116.395210
 12    155.030132
 13    100.589928
 14     86.258649
 15    136.835897
 16    105.272472
 17    153.475371
 18    101.627451
 19    146.036566
 20     88.894265
 21     94.789244
 22    118.713287
 23    107.683871
 24     94.613636
 dtype: float64, 0      75.906612
 1     102.309185
 2      86.831486
 3     139.119329
 4     126.151840
 5     166.232030
 6     111.614011
 7      63.653704
 8     125.068235
 9      88.378251
 10    118.026034
 11    109.542914
 12    141.806026
 13     95.646043
 14     81.789951
 15    128.967949
 16     98.394663
 17    142.897576
 18     97.924585
 19    139.465024
 20     77.711470
 21     92.216570
 22    118.391608
 23    107.365591
 24     90.629870
 dtype: float64, 0      71.374380
 1     101.483829
 2      84.731707
 3     136.013807
 4     118.085890
 5     167.443884
 6     108.228022
 7      59.127778
 8     121.961176
 9      83.304965
 10    110.430322
 11    103.820359
 12    140.006591
 13     88.719424
 14     81.551895
 15    125.392308
 16     92.714888
 17    138.800625
 18     95.598793
 19    141.013514
 20     76.612903
 21     91.991279
 22    109.274126
 23     98.737634
 24     89.144481
 dtype: float64, 0      71.267769
 1     100.465718
 2      84.002217
 3     133.585799
 4     108.407975
 5     168.530895
 6     101.932692
 7      55.187037
 8     123.882353
 9      84.184397
 10    112.646248
 11    105.213573
 12    136.420904
 13     82.854676
 14     80.821252
 15    124.501282
 16     97.300562
 17    142.240813
 18     93.165913
 19    137.131955
 20     78.806452
 21     90.527616
 22    111.255944
 23     98.967742
 24     91.256494
 dtype: float64]

In [78]:
type(구_월)

list

In [117]:
d8=pd.DataFrame(구_월)

In [118]:
d8

          0           1          2   ...          22          23         24
0  16.341322   19.751617  17.804878  ...   41.525874   34.146237  19.277597
1  15.487603   18.620957  16.813747  ...   36.019580   29.763441  17.892857
2  32.807438   35.426908  33.740576  ...   63.655944   54.077419  34.834416
3  55.384298   55.622251  52.645233  ...   91.958042   78.393548  52.155844
4  80.504132   94.800776  84.623060  ...  118.446154  105.073118  86.452922
5  83.077686  104.664942  92.605322  ...  118.713287  107.683871  94.613636
6  75.906612  102.309185  86.831486  ...  118.391608  107.365591  90.629870
7  71.374380  101.483829  84.731707  ...  109.274126   98.737634  89.144481
8  71.267769  100.465718  84.002217  ...  111.255944   98.967742  91.256494

[9 rows x 25 columns]

In [122]:
구_월1=[]
for i in range(10,12+1):
  ym1 = '2019' + str(i) + '_x'
  ym2 = '2019' + str(i) + '_y'
  구_월1.append(d6[ym1]/d6[ym2])
구_월1

[0      82.302479
 1     117.238034
 2      93.855876
 3     160.329389
 4     123.184049
 5     188.553594
 6     124.633242
 7      69.185185
 8     141.737647
 9      97.328605
 10    129.856049
 11    126.582834
 12    162.924670
 13     95.671942
 14     89.942339
 15    146.292308
 16    113.845506
 17    168.050039
 18    112.164404
 19    157.532591
 20     93.250896
 21    104.966570
 22    134.406993
 23    121.729032
 24    105.512987
 dtype: float64, 0      51.935140
 1      73.956750
 2      60.133038
 3     103.420160
 4      79.265625
 5     112.430440
 6      73.862944
 7      44.896429
 8      87.878271
 9      66.032828
 10     85.647951
 11     75.972056
 12     96.603721
 13     68.019490
 14     52.746536
 15     93.144872
 16     69.720386
 17     96.604006
 18     69.912851
 19     97.586645
 20     53.672862
 21     64.756983
 22     91.619898
 23     80.693712
 24     65.912338
 dtype: float64, 0     27.161741
 1     40.972477
 2     35.587583
 3     60.494012
 4     46.167187
 5     64.900119
 6     42.049492
 7     26.932143
 8     51.100114
 9     36.575758
 10    51.151745
 11    40.267465
 12    53.469767
 13    40.755622
 14    29.208639
 15    54.501282
 16    42.528926
 17    51.269646
 18    40.827179
 19    54.891892
 20    30.728625
 21    40.177374
 22    57.440051
 23    50.316430
 24    37.430195
 dtype: float64]

In [138]:
d9=pd.DataFrame(구_월1, index=['10','11','12'])

In [139]:
d9

           0           1          2   ...          22          23          24
10  82.302479  117.238034  93.855876  ...  134.406993  121.729032  105.512987
11  51.935140   73.956750  60.133038  ...   91.619898   80.693712   65.912338
12  27.161741   40.972477  35.587583  ...   57.440051   50.316430   37.430195

[3 rows x 25 columns]

In [149]:
d10=pd.concat([d8,d9])

In [150]:
d10

           0           1          2   ...          22          23          24
0   16.341322   19.751617  17.804878  ...   41.525874   34.146237   19.277597
1   15.487603   18.620957  16.813747  ...   36.019580   29.763441   17.892857
2   32.807438   35.426908  33.740576  ...   63.655944   54.077419   34.834416
3   55.384298   55.622251  52.645233  ...   91.958042   78.393548   52.155844
4   80.504132   94.800776  84.623060  ...  118.446154  105.073118   86.452922
5   83.077686  104.664942  92.605322  ...  118.713287  107.683871   94.613636
6   75.906612  102.309185  86.831486  ...  118.391608  107.365591   90.629870
7   71.374380  101.483829  84.731707  ...  109.274126   98.737634   89.144481
8   71.267769  100.465718  84.002217  ...  111.255944   98.967742   91.256494
10  82.302479  117.238034  93.855876  ...  134.406993  121.729032  105.512987
11  51.935140   73.956750  60.133038  ...   91.619898   80.693712   65.912338
12  27.161741   40.972477  35.587583  ...   57.440051   50.316430   37.430195

[12 rows x 25 columns]

In [158]:
d11=d10.rename(columns={0:'강남구',1:'강동구',2:'강북구',3:'강서구',4:'관악구',5:'광진구',6:'구로구',7:'금천구',8:'노원구',9:'도봉구',10:'동대문구',11:'동작구',12:'마포구',13:'서대문구',14:'서초구',15:'성동구',16:'성북구',17:'송파구',18:'양천구',19:'영등포구',20:'용산구',21:'은평구',22:'종로구',23:'중 구',24:'중랑구'})

In [159]:
d11

          강남구         강동구        강북구  ...         종로구         중 구         중랑구
0   16.341322   19.751617  17.804878  ...   41.525874   34.146237   19.277597
1   15.487603   18.620957  16.813747  ...   36.019580   29.763441   17.892857
2   32.807438   35.426908  33.740576  ...   63.655944   54.077419   34.834416
3   55.384298   55.622251  52.645233  ...   91.958042   78.393548   52.155844
4   80.504132   94.800776  84.623060  ...  118.446154  105.073118   86.452922
5   83.077686  104.664942  92.605322  ...  118.713287  107.683871   94.613636
6   75.906612  102.309185  86.831486  ...  118.391608  107.365591   90.629870
7   71.374380  101.483829  84.731707  ...  109.274126   98.737634   89.144481
8   71.267769  100.465718  84.002217  ...  111.255944   98.967742   91.256494
10  82.302479  117.238034  93.855876  ...  134.406993  121.729032  105.512987
11  51.935140   73.956750  60.133038  ...   91.619898   80.693712   65.912338
12  27.161741   40.972477  35.587583  ...   57.440051   50.316430   37.430195

[12 rows x 25 columns]

In [160]:
d11.mean()

강남구      55.295883
강동구      72.109454
강북구      61.947894
강서구      96.203153
관악구      86.854191
광진구     124.558127
구로구      77.105340
금천구      44.949140
노원구      91.498885
도봉구      62.484128
동대문구     84.545457
동작구      78.942282
마포구     105.247649
서대문구     68.630300
서초구      58.409980
성동구      96.111218
성북구      72.133370
송파구     103.018726
양천구      69.007119
영등포구    102.709791
용산구      58.300034
은평구      67.159864
종로구      91.058958
중 구      80.578981
중랑구      65.426136
dtype: float64