<a href="https://colab.research.google.com/github/ChaeHyunIM/Helloworld/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as mp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [130]:
d1=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Source/공공자전거 이용정보(총 이용건수) 2019_2020/공공자전거 대여소별 이용정보_201812_201905.xlsx')

In [131]:
d1

       구분                            대여소명      대여일자    대여건수
0     강남구                2301. 현대고등학교 건너편  201812.0   364.0
1     강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  201812.0   500.0
2     강남구                  2303. 논현역 7번출구  201812.0   286.0
3     강남구         2304. 신영 ROYAL PALACE 앞  201812.0   149.0
4     강남구              2305. MCM 본사 직영점 앞  201812.0   145.0
...   ...                             ...       ...     ...
9184  중랑구                 1455. 상봉역 2번 출구  201905.0  1362.0
9185  중랑구            1456. 상아빌딩(우림시장 교차로)  201905.0   826.0
9186  중랑구                     1457. 동원사거리  201905.0   827.0
9187  중랑구                    1458. 상봉터미널2  201905.0  1421.0
9188  중랑구                1459. 용마한신아파트사거리  201905.0   447.0

[9189 rows x 4 columns]

In [120]:
total_d1=sum(d1[d1['구분']=='강남구'][d1['대여일자']==201905]['대여건수'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [137]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9189 entries, 0 to 9188
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      9184 non-null   object
 1   대여소명    9184 non-null   object
 2   대여일자    9184 non-null   float64
 3   대여건수    9184 non-null   float64
dtypes: float64(2), object(2)
memory usage: 287.3+ KB

In [114]:
d1[d1['구분']=='강남구'][d1['대여일자']==201905]['대여건수']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

7653    4264.0
7654    2375.0
7655    1541.0
7656     630.0
7657     529.0
         ...
7746     640.0
7747    1114.0
7748    1106.0
7749     630.0
7750    1288.0
Name: 대여건수, Length: 98, dtype: float64

In [158]:
total_use = []
for i in range(1, 5 + 1):
  ym = '20190' + str(i)+'.0'
  total_use.append(d1[d1['구분'] == '강남구'][d1['대여일자'] == float(ym)]['대여건수'].sum())
total_use

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

[19773.0, 18740.0, 39697.0, 67015.0, 97410.0]

In [95]:
d1.iloc[1:6,:]

    구분                            대여소명      대여일자   대여건수
1  강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  201812.0  500.0
2  강남구                  2303. 논현역 7번출구  201812.0  286.0
3  강남구         2304. 신영 ROYAL PALACE 앞  201812.0  149.0
4  강남구              2305. MCM 본사 직영점 앞  201812.0  145.0
5  강남구              2306. 압구정역 2번 출구 옆  201812.0  457.0

In [159]:
d2=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Source/공공자전거 이용정보(총 이용건수) 2019_2020/공공자전거 대여소별 이용정보_201906_201911.xlsx')

In [160]:
d2

     대여소 그룹                           대여소 명  대여 일자 / 월  대여 건수
0       강남구                2301. 현대고등학교 건너편     201906   3909
1       강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)     201906   2432
2       강남구                  2303. 논현역 7번출구     201906   1567
3       강남구         2304. 신영 ROYAL PALACE 앞     201906    559
4       강남구              2305. MCM 본사 직영점 앞     201906    730
...     ...                             ...        ...    ...
9267    중랑구                 1455. 상봉역 2번 출구     201911   1205
9268    중랑구            1456. 상아빌딩(우림시장 교차로)     201911    764
9269    중랑구                     1457. 동원사거리     201911    577
9270    중랑구                    1458. 상봉터미널2     201911   1243
9271    중랑구                1459. 용마한신아파트사거리     201911    339

[9272 rows x 4 columns]

In [167]:
total_use = []
for i in range(6, 9 + 1):
  ym = '20190' + str(i)
  total_use.append(d2[d2['대여소 그룹'] == '강남구'][d2['대여 일자 / 월'] == float(ym)]['대여 건수'].sum())
total_use

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

[100524, 91847, 86363, 86234]

In [168]:
total_use = []
for i in range(10, 11 + 1):
  ym = '2019' + str(i)
  total_use.append(d2[d2['대여소 그룹'] == '강남구'][d2['대여 일자 / 월'] == float(ym)]['대여 건수'].sum())
total_use

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

[99586, 63257]

In [173]:
d1.groupby('구분').sum()

             대여일자      대여건수
구분
강남구   117498816.0  262926.0
강동구    69247450.0  189744.0
강북구    47241753.0  100717.0
강서구   102962795.0  301710.0
관악구    62989004.0  219669.0
광진구    72477808.0  380451.0
구로구    74900559.0  198094.0
금천구    53904100.0   91736.0
노원구    81764621.0  284358.0
도봉구    42396445.0   90915.0
동대문구   61777677.0  204159.0
동작구    51077637.0  147005.0
마포구    94887312.0  438010.0
서대문구   61777587.0  193442.0
서초구   106394970.0  261202.0
성동구    76515594.0  292787.0
성북구    70458871.0  192398.0
송파구   119315847.0  472000.0
양천구    64402236.0  157971.0
영등포구  106596776.0  491894.0
용산구    47241753.0  120681.0
은평구    75102274.0  171528.0
종로구    77323116.0  280894.0
중구     52894579.0  156061.0
중랑구    62989004.0  142214.0

In [ ]:
d1.